<blockquote class="imgur-embed-pub" lang="en" data-id="a/{{ .Get "album" }}"><a href="//imgur.com/{{ .Get "album" }}">{{ .Get "title" }}</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
